<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-black w3-card">
        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Gtauto-Admin</a>
        <a [routerLink]="['/admin/acceuiladmin']" class="w3-bar-item w3-button w3-padding-large">ACCEUIL</a>
        <a [routerLink]="['/admin/pieces']" class="w3-bar-item w3-button w3-padding-large w3-hide-small">PIECES</a>
        <a [routerLink]="['/admin/admint']" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ADMIN</a>
        <a [routerLink]="['/admin/tachat']" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ACHAT</a>
        
       
        

        <div class="w3-bar-item w3-center w3-padding-large w3-hide-small">
           
        </div>
      
    </div>

</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
    <a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">BAND</a>
    <a href="#tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">TOUR</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">MERCH</a>
</div>




<router-outlet></router-outlet>

